#{{ ansible_managed }}
# This is a configuration file for Zabbix proxy daemon
# To get more information about Zabbix, visit http://www.zabbix.com

PidFile=/var/run/zabbix/zabbix_proxy.pid
LogFile=/var/log/zabbix/zabbix_proxy.log
LogFileSize=0

ProxyMode={{ zabbix_proxy_mode | default(0) }}

Server={{ zabbix_proxy_server | default(127.0.0.1) }}
Hostname={{ inventory_hostname }}
ListenPort={{ zabbix_proxy_listen_port | default(10051) }}

SocketDir=/var/run/zabbix

DBHost=127.0.0.1
DBName={{ zabbix_proxy_dbname }}
DBUser={{ zabbix_proxy_dbuser }}
DBPassword={{ zabbix_proxy_dbpass }}
DBSocket=/var/run/mysqld/mysqld.sock

ConfigFrequency=100

StartVMwareCollectors=5
VMwareCacheSize=16M

SNMPTrapperFile=/var/log/snmptrap/snmptrap.log

CacheSize=16M

Timeout=10

ExternalScripts=/usr/lib/zabbix/externalscripts

FpingLocation=/usr/bin/fping
Fping6Location=/usr/bin/fping6

LogSlowQueries=3000

StatsAllowedIP=127.0.0.1

{% if zabbix_proxy_psk is defined %}
TLSConnect=psk
TLSAccept=psk
TLSPSKFile=/etc/zabbix/proxy.psk
TLSPSKIdentity={{ zabbix_proxy_psk_identity | default(inventory_hostname) }}
{% endif %}
